{# Conditions Générales de Vente #}
{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Conditions Générales de Vente</h1>

    <h3>Article 1 - Objet</h3>
    <p>
        Les présentes conditions régissent les ventes effectuées sur le site Vite & Gourmand.
    </p>

    <h3>Article 2 - Prix</h3>
    <p>
        Les prix sont indiqués en euros toutes taxes comprises (TTC).
    </p>

    <h3>Article 3 - Commande</h3>
    <p>
        Toute commande passée implique l\'acceptation des présentes CGV.
    </p>

    <h3>Article 4 - Paiement</h3>
    <p>
        Le paiement est exigible immédiatement à la commande.
    </p>

    <h3>Article 5 - Droit de rétractation</h3>
    <p>
        Conformément à la législation, les produits alimentaires ne bénéficient pas du droit de rétractation.
    </p>
</div>
{% endblock %}