{% extends 'base.html.twig' %}

{% block title %}Chiffre d'affaires{% endblock %}

{% block body %}

<div class="container mt-5">

<h1>Chiffre d'affaires par menu</h1>

<table class="table table-striped mt-4">

<thead>
<tr>
<th>Menu</th>
<th>Chiffre d'affaires (€)</th>
</tr>
</thead>

<tbody>

{% for item in ca %}

<tr>
<td>{{ item.menu }}</td>
<td>{{ item.chiffre }}</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}