{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5">

    <div class="mb-4">
        <a href="{{ path('admin') }}" class="btn btn-secondary">
            ← Retour au Dashboard
        </a>
    </div>

    <h1 class="mb-4">Statistiques des commandes par menu</h1>

    <canvas 
        id="chart" 
        data-stats='{{ stats|json_encode|e("html_attr") }}'>
    </canvas>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/chart.js') }}"></script>
{% endblock %}